﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<div>
    @Html.Partial("ModalPopUp")
</div>

<div id="_commonWidget1">
    @Html.Partial("_commonWidget1")
</div>

<div id="_commonWidget2">
    @Html.Partial("_commonWidget2")
</div>

<!-- #region For Updating Only Patial View -->
<a id="buttonCMN1" href="#">click 1</a>
<a id="buttonCMN2" href="#">click 2</a>
<!-- #endregion -->